assets/external/
.states
.web
__pycache__/
*.py[cod]
*.db
.venv/*

**/images/**

**/__pycache__/**
*.pyc
*.pyo
*.pyd
**.csv

*.jpg
**.json

requirements.txt

card_scans/**

mtg_sorter/images/*

*.DS_Store
**temp_roi.jpg

.env

agent.py

.vibe

.zed

config.json
